* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: hsl(30, 38%, 92%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    font-size: 14px;
}
/* Optimal card start*/
.productCard {
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: row;
    width: 40rem;
    min-height: 25rem;
    border-radius: .5rem;
    margin: 2rem;
}

.productImg {
    flex: 50%;
    background: url(images/image-product-desktop.jpg) center/cover no-repeat;
    max-width: 100%;
    border-radius: .5rem 0 0 .5rem;
}

.productInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 45%;
    padding: 5%; /*Border-box=> 45%+5%=50%*/
    word-wrap: break-word;
}
/* Optimal card end*/
.pad {
    padding-bottom: 1rem;
    color: hsl(228, 12%, 48%);
}

.productInfo h1 {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .6rem;
}

.productInfo h2 {
    font-size: 2rem;
    color: hsl(212, 21%, 14%);
}

.productInfo p {
    font-size: 1.2rem;
    word-wrap: break-word;
}

.discountPrice {
    font-size: 2rem;
    color: hsl(158, 36%, 37%);
    word-spacing: 1rem;
}

.discountPrice span {
    font-size: 1rem;
    text-decoration: line-through;
    /* vertical-align: super; */
    color: hsl(228, 12%, 48%);
}

button {
    background-color: hsl(158, 36%, 37%);
    border: none;
    /* width: 100%; */
    color: hsl(0, 0%, 100%);
    font-size: 1rem;
    padding: 1rem;
    border-radius: .5rem;
}

button::before {
    content: url(images/icon-cart.svg);
    margin-right: 10px;
}

button:hover,
button:active
{
    background-color: hsl(158, 36%, 29%);
    cursor: pointer;
}

@media (max-width: 600px) {
    .productCard {
        flex-direction: column;
        height: 80%;
        min-height: 90%;
        width: 80%;
        margin: 20px;
    }
    .productImg {
        background-image: url(images/image-product-mobile.jpg);
        border-radius: .5rem .5rem 0 0;
        /* height: 200px; */
        width: 100%;
    }
}